.subContents {
  text-align: center;
  color: black;
}

.family {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.familyParents {
  width: 50px;
}

.contactButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 64px;
}

.contactButton {
  width: fit-content;
  padding: 6px 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.contentsSpare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 96px;
  color: lightgray;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
  margin-bottom: 16px;
}

.contactWrapper .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactWrapper span {
  margin: 0px;
  padding: 0px;
}

.infoPhone {
  margin: 0px;
  margin-top: 4px;
  color: gray;
  font-size: 14px;
  border: none;
  background-color: white;
  padding: 0px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.aPhone {
  color: gray;
  text-decoration: none;
}
