.mainImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  pointer-events: none;
}

.imageContainer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 64px;
}

.mainContents {
  margin-top: 96px;
  margin-bottom: 96px;
  text-align: center;
}

.mainContentsTitle {
  font-size: 16px;
  color: gray;
}

.mainContentsSpare {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mainContentsText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mainContentsSubText {
  margin-top: 16px;
  text-align: center;
  color: gray;
}
