.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.commentTitle {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.commentSendButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.commentSendButton {
  width: fit-content;
  padding: 6px 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.15s ease-in-out;
}

.commentLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.comment {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 12px;
  font-size: 0.8rem;
  margin-top: 16px;
  border-bottom: 1px solid lightgray;
  padding-left: 4px;
  padding-right: 4px;
}

.commentHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}

.commentHeaderName {
  color: gray;
}

.commentHeaderDate {
  display: flex;
  color: gray;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}

.commentContent {
  font-size: 0.8rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.commentDeletebutton {
  border: none;
  background-color: white;
  color: gray;
  cursor: pointer;
  margin-left: 12px;
  padding-top: 2.5px;
}

.inputWrapper {
  display: flex;
  height: 25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.input {
  display: flex;
  height: 25px;
  width: 100%;
  justify-content: space-between;
}

.inputTitle {
  width: 150px;
}

.inputContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textarea {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  resize: none;
}

.textareaCount {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  font-size: 0.8em;
  color: #555;
}

.dialogButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 8px;
}

.closeButton {
  display: flex;
  border: none;
  width: 40%;
  padding: 6px 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.85em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  background-color: white;
  color: black;
}

.primaryButton {
  display: flex;
  border: none;
  width: 100%;
  padding: 6px 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.85em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  background-color: black;
  color: white;
}

.primaryButton:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.moreButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
