.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.commentTitle {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.commentSendButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.commentSendButton {
  width: fit-content;
  padding: 6px 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.15s ease-in-out;
}

.commentSendButton:hover {
  background-color: lightgray;
}

.commentLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.comment {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 12px;
  font-family: var(--font-sans);
  font-size: 14px;
  margin-top: 16px;
  border-bottom: 1px solid lightgray;
}

.commentHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.commentHeaderName {
  color: gray;
}

.commentHeaderDate {
  display: flex;
  color: gray;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.commentContent {
  margin-top: 16px;
  margin-bottom: 16px;
}

.commentDeletebutton {
  border: none;
  background-color: white;
  color: gray;
  cursor: pointer;
  margin-left: 12px;
  padding-top: 2.5px;
}
