.Toastify__toast-container {
  width: fit-content;
}

.Toastify__toast-container--top-center {
  top: 10px !important;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  width: auto;
  z-index: 9999;
}

.Toastify__toast {
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  min-height: 44px;
  text-align: center;
  width: fit-content;
  border-radius: 100px;
  padding: 4px 8px;
}

.Toastify__toast--pending {
  background: #ffffff;
  font-family: var(--font-serif);
  font-size: 0.8rem;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
  background: #ffffff;
  font-family: var(--font-serif);
  font-size: 0.8rem;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.Toastify__toast--error {
  background: #ffffff;
  font-family: var(--font-serif);
  font-size: 0.8rem;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.2s;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__fadeIn;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__fadeOut;
}

@keyframes Toastify__fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Toastify__fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
