.Toastify__toast-container {
  width: fit-content;
}

.Toastify__toast-container--top-center {
  top: 10px !important;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  width: auto;
  z-index: 9999;
}

.Toastify__toast {
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  min-height: 44px;
  text-align: center;
  width: fit-content;
  border-radius: 100px;
}

.Toastify__toast--pending {
  background: rgba(48, 173, 120, 0.8);
}

.Toastify__toast--success {
  background: rgba(48, 173, 120, 0.8);
}

.Toastify__toast--error {
  background: rgba(224, 72, 82, 0.8);
}
