.shareInvitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;

  width: 200px;
  height: 40px;
  gap: 4px;

  cursor: pointer;
  transition: opacity 0.3s;
}

.shareButton:hover {
  opacity: 0.5;
}

.shareImageContainer {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.shareImageContainer img {
  transition: transform 0.3s ease-in-out;
}

.shareImageContainer img:hover {
  transform: scale(1.3, 1.3);
}

.shareImageOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 10;
  text-align: center;
  user-select: none;
}
