@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Noto Sans KR', sans-serif;
  --font-serif: 'Nanum Myeongjo', serif;
  --font-serif-en: 'Cormorant SC', serif;

  --max-logo-width: 10rem;
  --color: black;
  --background-color: white;
  --sticky-color: gray;
  --sticky-bgc: yellow;

  user-select: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-serif);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

button {
  color: black;
  font-family: var(--font-serif);
  outline: none;
}

input,
textarea {
  font-family: var(--font-serif);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
