:root {
  --font-sans: 'Noto Sans KR', sans-serif;
  --font-serif: 'Nanum Myeongjo', serif;

  --max-logo-width: 10rem;
  --color: black;
  --background-color: white;
  --sticky-color: gray;
  --sticky-bgc: yellow;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-serif);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

button {
  font-family: var(--font-serif);
}

@keyframes stage-enter {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animate {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.visible {
  opacity: 1;
  animation: stage-enter 0.6s forwards;
}

.animate-layer {
  margin: 20px 0;
}
