.header {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  border-radius: 8px;

  width: 100%;
  padding: 12px;
  margin: 0px;

  font-size: 0.8rem;
}

.trigger[data-state='open'] svg {
  transform: rotate(-180deg);
}

.item {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  overflow: hidden;
  margin-bottom: 16px;

  border: 1px solid lightgray;
  border-radius: 8px;
}

.content {
  overflow: hidden;
  padding: 12px;
}

.content[data-state='open'] {
  animation: slideDown 0.3s ease-in-out;
}
.content[data-state='closed'] {
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}

@keyframes slideUp {
  from {
    max-height: 200px;
  }
  to {
    max-height: 0;
  }
}

.arrow {
  height: 1rem;
  width: 1rem;
  transition: transform 0.2s ease-in-out;
}
