/* Dialog.module.css */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  transition: opacity 0.3s ease;
}

.content {
  position: fixed;
  z-index: 50;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.title {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.description {
  margin-top: 8px;
  font-size: 0.8rem;
  color: gray;
}

.body {
  margin-top: 16px;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 16px;
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeinout[data-state='open'] {
  animation: fadein 0.3s ease-out;
}

.fadeinout[data-state='closed'] {
  animation: fadeout 0.3s ease-in;
}
